.acme-malarkey {
  text-transform: capitalize;
  color: deeppink;
}

.acme-malarkey:after {
  animation: cursor-blink 0.4s linear infinite;
  content: "|";
  color: deeppink;
}
.acme-malarkey.show-purple {
  text-transform: capitalize;
  color: teal;
}

.acme-malarkey.show-purple:after {
  animation: cursor-blink 0.4s linear infinite;
  content: "|";
  color: teal;
}


@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
